@model ItalieNieuw.Models.Reaction
@{
    ViewBag.Title = "Gastenboek";
}

@using (@Html.BeginForm("AddReaction", "Italia", FormMethod.Post, new { id = "gastenboekformulier"})) {
    @Html.AntiForgeryToken()
    <div>
        <div>@Html.LabelFor(model => model.Name)</div>
        <div>@Html.EditorFor(model => model.Name)</div>
    </div>
    <div>
        <div>@Html.LabelFor(model => model.Message)</div>
        <div>@Html.TextAreaFor(model => model.Message)</div>
    </div>
        <input type="submit" value="Voeg toe" />
}

<div id="gastenboek">
@foreach (var item in (List<ItalieNieuw.Models.Reaction>)ViewData["Reactions"])
{
    <div class="gastenboekentry">
        <div class="gastenboekentry_hoofding">
            <span class="naam">@item.Name</span>
            <span class="datum">@item.Date</span>
        </div>
        <div class="gastenboekentry_bericht">@item.Message</div>
    </div>
}
</div>

