@model IEnumerable<ItalieNieuw.Models.DailyProgram>
@{
    ViewBag.Title = "Programma";
}

    <br />
  <div id="map" style="width: 100%; height: 600px;"></div>
  @Scripts.Render("~/Scripts/googleMap.js")

@* Oude Map *@

<br />
@*<img id="MainContent_imgMap" class="map" src="~/Images/map_2014.jpg">*@

<table id="tblReisschema">
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.Volgnummer">
                        <td >@item.Date.ToString("dd MMM yyyy")</td>
                        <td><span class="bold">@item.Title</span> <br />
                            @{string info = @item.Info;}                                             
                            @foreach (char c in info)
                            {
                                if (c == '|') { @Html.Raw("<br />") } else {@Html.Raw(c)}
                            }
                        </td>
                    </tr>
                }
                
        </tbody>
</table>
      
   