@model ItalieNieuw.Models.Picture

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (@Html.BeginForm("EditPicture", "Admin", FormMethod.Post))
{
    var fullpath = "../Images/ImageUploads/" + Model.FileName;
    
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="pictureinfobox">
        <fieldset>
            <legend>Picture: @Model.FileName - Id: @Model.Id</legend>

            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.FileName)

            <img src="@fullpath" class="uploadedpicture" />

            <div class="editor-label">
                @Html.LabelFor(model => model.Date)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Date)
                @Html.ValidationMessageFor(model => model.Date)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Description)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>

            <p>
                <input type="submit" value="Save" />
                @Html.ActionLink("Delete from database", "DeletePicture", "Admin", new { id = Model.Id }, new object { })
            </p>

            @*
        @using (@Html.BeginForm("DeletePicture", "Admin", FormMethod.Post))
        {
            @Html.HiddenFor(model => model.Id)
            <input type="submit" value="Delete from database (not from disk)" />
        }
        *@
        </fieldset>
    </div>
}

@*
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
*@